Repository ministryofjustice/digital-prison-services: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
      backend:
        flags: backend
      frontend:
        flags: frontend
flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - src/
comment:
  layout: "diff,flags,tree"
  behavior: new
  require_changes: no

Remove old comments and post new when there are changes
  .codecov.yml
Due: none

Run codecov only for changed files
  .codecov.yml
Due: none

Example changed file
  backend/controllers/bulkAppointmentsConfirm.js
Due: backend

NN-2175 Update errors for mixed appointment times
  backend/controllers/bulkAppointmentsConfirm.js
  backend/tests/bulkAppointmentsConfirm.test.js
Due: backend

NN-2175 Update errors for mixed appointment times (#566)
  backend/controllers/bulkAppointmentsConfirm.js
  backend/tests/bulkAppointmentsConfirm.test.js
Due: backend

DT-253: Add ping endpoint and test
  backend/index.js
Due: backend

DT-253: Add ping endpoint test
  prisonstaffhub-specs/src/test/groovy/uk/gov/justice/digital/hmpps/prisonstaffhub/specs/PingSpecification.groovy
Due: none

DT-253: Add ping endpoint and test (#567)
  backend/index.js
  prisonstaffhub-specs/src/test/groovy/uk/gov/justice/digital/hmpps/prisonstaffhub/specs/PingSpecification.groovy
Due: backend

NN-2186 recurring appointments
  backend/controllers/addAppointmentDetails.js
  backend/tests/addAppointmentDetails.test.js
  src/BulkAppointments/RecurringAppointments.js
  views/addAppointmentDetails.njk
Due: backend, frontend

use ping health endpoint
  helm_deploy/prison-staff-hub/templates/_envs.tpl
  helm_deploy/prison-staff-hub/templates/deployment.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
Due: none

NN-2186 recurring appointments (#568)
  backend/controllers/addAppointmentDetails.js
  backend/tests/addAppointmentDetails.test.js
  src/BulkAppointments/RecurringAppointments.js
  views/addAppointmentDetails.njk
Due: backend, frontend

NN-2193 Added no appointments added page with redirect from csv upload
  backend/controllers/bulkAppointmentsUpload.js
  backend/index.js
  backend/tests/bulkAppointmentsUpload.test.js
  views/noAppointmentsAdded.njk
Due: backend

NN-2186 add recurring info to the upload page
  backend/controllers/addAppointmentDetails.js
  backend/index.js
  backend/tests/addAppointmentDetails.test.js
  views/uploadOffenders.njk
Due: backend

NN-2186 add recurring info to the upload page (#569)
  backend/controllers/addAppointmentDetails.js
  backend/index.js
  backend/tests/addAppointmentDetails.test.js
  views/uploadOffenders.njk
Due: backend

NN-2186 move appointment details to omponent
  backend/controllers/addAppointmentDetails.js
  backend/controllers/alert.js
  backend/controllers/iepDetails.js
  backend/controllers/offenderService.js
  backend/controllers/probationDocuments.js
  backend/tests/addAppointmentDetails.test.js
  backend/utils.js
  backend/utils.test.js
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
  views/confirmAppointments.njk
  views/sameTimeAppointmentsQuestion.njk
  views/uploadOffenders.njk
Due: backend

NN-2186 revert util fucntion name change
  backend/controllers/addAppointmentDetails.js
  backend/controllers/alert.js
  backend/controllers/iepDetails.js
  backend/controllers/offenderService.js
  backend/controllers/probationDocuments.js
  backend/utils.js
  backend/utils.test.js
Due: backend

NN-2186 display repeats
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
Due: none

NN-2186 remove console.error
  backend/controllers/addAppointmentDetails.js
Due: backend

NN-2186 move appointment details to component (#570)
  backend/controllers/addAppointmentDetails.js
  backend/tests/addAppointmentDetails.test.js
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
  views/confirmAppointments.njk
  views/sameTimeAppointmentsQuestion.njk
  views/uploadOffenders.njk
Due: backend

DT-224: Fix notm link from psh
  helm_deploy/values-dev.yaml
Due: none

NN-2186 tweak appointment details labels
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
Due: none

NN-2196: Add GA events fro bulk attend all and all not required
  src/Attendance/attendanceGAEvents.js
  src/Attendance/attendanceGAEvents.test.js
  src/ResultsActivity/ResultsActivity.js
Due: frontend

NN-2193 updated test description
  backend/tests/bulkAppointmentsUpload.test.js
Due: backend

remove commments that allowed testing on a branch
  .circleci/config.yml
Due: none

fix indentation
  .circleci/config.yml
Due: none

NN-2186 remove validation check
  backend/controllers/addAppointmentDetails.js
  backend/tests/addAppointmentDetails.test.js
Due: backend

NN-2186 remove validation check (#575)
  backend/controllers/addAppointmentDetails.js
  backend/tests/addAppointmentDetails.test.js
Due: backend

NN-2176 Appointment clashes page initial commit
  backend/controllers/bulkAppointmentsClashes.js
  backend/controllers/bulkAppointmentsClashesController.js
  backend/index.js
  views/appointmentsClashes.njk
Due: backend

NN-2186 Add recurring details to add bulk appointments body
  backend/controllers/bulkAppointmentsConfirm.js
  backend/tests/bulkAppointmentsConfirm.test.js
Due: backend

NN-2205 updated bulk appointment summary list
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
Due: none

NN-2186 Add recurring details to add bulk appointments body (#576)
  backend/controllers/bulkAppointmentsConfirm.js
  backend/tests/bulkAppointmentsConfirm.test.js
Due: backend

NN-2205 fixed rogue space formatting
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
Due: none

NN-2193 fixed error page url for upload page
  backend/controllers/bulkAppointmentsUpload.js
  backend/tests/bulkAppointmentsUpload.test.js
Due: backend

NN-2205 updated bulk appointment summary list (#577)
  views/components/appointment-details-summary/appointmentDetailsSummary.njk
Due: none

migrate deployment to cp (#574)
  .circleci/config.yml
  Dockerfile
  deploy.sh
  helm_deploy/.helmignore
  helm_deploy/README.md
  helm_deploy/prison-staff-hub/.helmignore
  helm_deploy/prison-staff-hub/Chart.yaml
  helm_deploy/prison-staff-hub/templates/NOTES.txt
  helm_deploy/prison-staff-hub/templates/_envs.tpl
  helm_deploy/prison-staff-hub/templates/_helpers.tpl
  helm_deploy/prison-staff-hub/templates/deployment.yaml
  helm_deploy/prison-staff-hub/templates/ingress.yaml
  helm_deploy/prison-staff-hub/templates/secrets.yaml
  helm_deploy/prison-staff-hub/templates/service.yaml
  helm_deploy/secrets-example.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  package.json
  scripts/plant-beanstalk.js
  scripts/record-build-info
Due: none

DT-250: Add appinsights events for documents
  backend/controllers/downloadProbationDocument.js
  backend/controllers/probationDocuments.js
  backend/tests/downloadProbationDocument.test.js
Due: backend

DT-250: Add appinsights events for documents (#578)
  backend/controllers/downloadProbationDocument.js
  backend/controllers/probationDocuments.js
  backend/tests/downloadProbationDocument.test.js
Due: backend

NN-2206: Check activity has eventId before including it in batch actions
  src/ResultsActivity/ResultsActivity.js
  src/ResultsActivity/ResultsActivity.test.js
Due: frontend

NN-2206: Check activity has eventId before including it in batch actions (#579)
  src/ResultsActivity/ResultsActivity.js
  src/ResultsActivity/ResultsActivity.test.js
Due: frontend

NN-2176 Added appointment clashes for same start times
  backend/api/elite2Api.js
  backend/controllers/bulkAppointmentsClashes.js
  backend/controllers/bulkAppointmentsClashesController.js
  backend/controllers/bulkAppointmentsConfirm.js
  backend/tests/bulkAppointmentsConfirm.test.js
  views/appointmentsClashes.njk
Due: backend
